
.navbar {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   height: 12vh;
}

.logo__link {
   font-weight: 700;
   color: $darkColor;
   font-size: 1.25rem;
}

.bars {
   border: none;
   background-color: transparent;
   justify-self: end;

   &:focus,
   &:active,
   &:hover {
      outline: none;
   }

   &__image {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;
   }
}