
.blog {
   margin-top: 1rem;
   margin-bottom: 4rem;
   display: grid;
   grid-row-gap: 1.7rem;

   @include responsive(768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
   }

   @include responsive(992px) {
      margin-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
   }

   @include responsive(1600px) {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2rem;
   }

   &__link {
      display: block;
      background-color: $darkColor;
      color: $lightColor;
      padding: 1.25rem 0.7rem;
      border-radius: 0.5rem;
      transition: 300ms ease;
      will-change: transform;
      position: relative;
      z-index: 10;

      &:hover {
         @include responsive(992px) {
            animation-name: cardPost 300ms ease;
         }
      }

      &:nth-child(2n) {
         background-color: $lightColor;
         color: $darkColor;
         -webkit-box-shadow: 0px 0px 20px -2px rgba(31,31,31,0.2);
         -moz-box-shadow: 0px 0px 20px -2px rgba(31,31,31,0.2);
         box-shadow: 0px 0px 20px -2px rgba(31,31,31,0.2);

         .blog__writer {
            color: $darkColor;
         }
      }
   }

   &__title {
      margin-top: 0;
      margin-bottom: 0.75rem;
      line-height: 1.5;
      font-weight: 600;
   }

   &__description {
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      line-height: 1.7;
   }

   &__date {
      font-weight: 600;
      font-size: 0.8rem;
      display: block;
      text-align: right;
      margin-top: 1rem;
   }

   &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__profile {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
   }

   &__writer {
      display: block;
      color: $lightColor;
      font-weight: 600;
      font-size: 0.7rem;
      margin-top: 0.5rem;
   }
}

/* Animation's */

@keyframes cardPost {
   from {
      transform: translate(5px, 5px);
   } to {
      transform: translate(0);
   }
}